.indexWrap {
  .switchWrap {
    border-radius: 12px;
    padding: 8px 12px;
    background-color: #f5f5f5;

    .switchBox {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .manualBox {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 4px;

      .manualBtn {
        padding: 0;
      }
    }

    .grayColor {
      color: #666;
    }
  }
}
