.manageListWrap {
  .headerBox {
    .headerLeftBox {
      display: flex;
      align-items: center;

      .backBtn {
        display: flex;
        align-items: center;
        border: none;
        padding: 0 8px 0 0;
        height: 16px;
        gap: 0;
      }
    }
  }
}
