.scrollTopBox {
  position: fixed;
  right: 20px;
  bottom: 80px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-weight: bold;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 0 2px 0 #716e6e;
  line-height: 50px;
  cursor: pointer;
}

:global {
  html {
    width: 0;
    height: 0;
  }
}
